*{
    color: #660066;
}
.nav{
    text-align: center;
    color: #330033;
    background-color: #ffccff;
    margin: 0px;
    padding: 20px;
}
.main-head{
    font-size:xx-large;
    color: #330033;
}
.medium-head{
    font-size: larger;
    color: #330033;
}
.small-head{
    font-size: medium;
    color: #330033;
}
.content {
    margin: 0px;
    padding: 20px;
    background-color:rgb(204, 153, 255) ;
}
.img{
    margin-left: 40px;
    width: 300px;
    height: 300px;
    display: block;
}
span{
    text-decoration: underline;
}
.content2{
    margin: 0px;
    padding: 20px;
    background-color:#cce6ff ;
}
.content3{
    margin: 0px;
    padding: 20px;
    background-color:#bbff99 ;
}
.form{
    margin: 0px;
    padding: 20px;
    background-color:#ffff80 ;
}
.content4{
    margin: 0px;
    padding: 20px;
    background-color:#ffcc99 ;
}
